*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(90deg, rgb(196, 196, 202) 0%, rgb(93, 93, 201) 35%, rgb(175, 179, 180) 100%);
}

